body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
  background-color: rgb(251, 255, 29);
  color: rgb(133, 61, 33);
  text-shadow: 3px 1px 6px rgba(0,0,0,0.52);
}
button {
  background-color: rgb(255, 251, 8);
  text-shadow: 3px 1px 6px rgba(0,0,0,0.52);
  color: rgb(133, 61, 33);
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
p {
  font-size: 24px;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border: 2px solid #1C6EA4;
}
